{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Anthroposis II{% endblock %}

{% block body %}

<div class="Home">
    <div class="Home-component">
        <p class="Home-component-p">Ressources en sciences humaines</p>
    </div>
</div>
<div class="Home-content">

    {% for article in articles %}

        <article class="Home-article">
        {% if article.image %}
            <div class="Home-article-blockImg">
                <img class="Home-article-blockImg-img" src="{{ asset('image_directory/' ~ article.image ~ '') }}" alt="{{ article.image }}">
            </div>
        {% endif %}
            <div class="Home-article-blockInfos">
                <div class="Home-article-blockInfos-top">
                    <p class="Home-article-blockInfos-top-author">{{ article.user.pseudo }}</p>
                    <p class="Home-article-blockInfos-top-date">{{ article.createdAt|date('d/m/Y à H:i') }}</p>
                    <h4 class="Home-article-blockInfos-top-title">{{ article.title|slice (0, 50) }} [...]</h4>
                    <p class="Home-article-blockInfos-top-description">{{ article.description | slice (0, 50) }} [...]</p>
                </div>
                <div class="Home-article-blockInfos-bottom">
                    <p class="Home-article-blockInfos-bottom-p"><a class="Home-article-blockInfos-bottom-a" href="{{ path('app_articles_article_show', {'slug': article.slug}) }}">Lire</a></p>
                </div>
            </div>
        </article>

    {% endfor %}

</div>

{% endblock %}
