{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    

<div class="Account">
    <h2 class="Account-title">Inscription</h2>

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="Message Error-message"> {{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password.first) }}
        {{ form_row(registrationForm.password.second) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="Form-button">S'inscrire</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
