<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur Anthroposis II{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{asset('img/open-book.png')}}">
        {% block stylesheets %}
             <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body class="body">

        {% include '_partials/header.html.twig' %}
          
        <main class="mainAdmin">

            {% include '_partials/menuAdmin.html.twig' %}
      
            <section class="sectionAdmin">

                {% for message in app.flashes('success') %}
                    <div class="Message Success-message">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="Message Error-message">
                        {{ message }}
                    </div>
                {% endfor %}
          
                {% block body %}{% endblock %}
               
            </section>

        </main>

        {% include '_partials/footer.html.twig'%}

        {% block javascripts %}
            
            <script type="module" src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>